/* #----------------------------PROP ATT------------------------------ */
body{
    text-align: center;
    font-family: 'Roboto', sans-serif;;
    font-size: 150%;
    color: #334257;
    
}
/* img {
    position: relative;
    display: inline-block;
    /* right: 20px; 
}*/

hr{
    height: 5px;
    width: 8%;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    border-color: #cecece;


}

h1 {
    color: #4B6587;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    
}

h2 {
    color: #4B6587;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem
}

h3 {
    font-family: 'PT Sans', sans-serif;
    color: #035397;
    line-height: 1.25;
    /* font-size: larger; */
}
a {
    color: #476072;
    text-decoration: none
}
a:link {
    font-style: normal;
    font-weight: bold;
}
a:hover {
    color: white;
    font-style: normal;
    text-decoration: underline;
}



/* #----------------------------CLASS ATT------------------------------ */
.intro_title {
    background-color: #EFF8FF;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: center;
    line-height: 0.25;
}
.profile{
    padding-top: 1%;
    width: 40%;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;
}
.bottom_cloud {
    position: relative;
    right: 5%;
    top: 30%;
}

.top_cloud {
    position: relative;
    left: 5%;
    top: 10%;
}

.mountain{
    position: relative;
    right: 0;
    top: 0;
}

.profile_picture{
    height: 150px;
    position: relative;
}

.skill-row {
    width: 50%;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: left;
    line-height: 1.25;
    padding-bottom: 3%;
    
}


.flask_picture{
    height: 150px;
    float: left;
    margin-right: 30px;
}


.code_picture{
    height: 150px;
    float: right;
    margin-left: 30px;
}


.rice_picture{
    height: 150px;
    float: left;
    margin-right: 30px;
}



.bottom-container{
    background-color: #548CA8;
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0;
    padding-left: 0;
    margin: auto;
}
.linkedin{
    position: relative;
    left : 0;
    bottom: 50%;
    font-style:normal;
}
.website{
    position: relative;
    left : 2%;
    bottom: 50%;
    font-style:normal;
}
.email{
    position: relative;
    left: 1%;
    bottom: 50%;
}
.info{
    font-weight: bold;
    font-size: 0.8rem;
    display: inline;
    color: white;
    position: relative;
    left: 0%;
    bottom: 25%;
    text-align: center;
    /* bottom: 0.1%; */

}
/* #----------------------------ID ATT------------------------------ */